<!--
<label class="input input-bordered flex items-center gap-2">
  Name
  <input type="text" class="grow" placeholder="Daisy" />
</label>
<label class="input input-bordered flex items-center gap-2">
  Email
  <input type="text" class="grow" placeholder="daisy@site.com" />
</label>
<label class="input input-bordered flex items-center gap-2">
  <input type="text" class="grow" placeholder="Search" />
  <kbd class="kbd kbd-sm">⌘</kbd>
  <kbd class="kbd kbd-sm">K</kbd>
</label>
<label class="input input-bordered flex items-center gap-2">
  <input type="text" class="grow" placeholder="Search" />
  <span class="badge badge-info">Optional</span>
</label>
-->

<div class="container mx-auto flex justify-center items-center h-screen">
  <div class="w-full max-w-md">
    <h1 class="text-center text-2xl mb-6">新規会員登録</h1>
    <%= form_with model: @user, local: true, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' do |f| %>
      <div class="form-group mb-4">
        <%= f.label :nickname, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.text_field :nickname, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="form-group mb-4">
        <%= f.label :email, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.email_field :email, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="form-group mb-4">
        <%= f.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.password_field :password, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="form-group mb-4">
        <%= f.label :password_confirmation, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.password_field :password_confirmation, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="flex items-center justify-between">
        <%= f.submit '登録', class: 'btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    <% end %>
  </div>
</div>
