<%= form_with model: name_tag, local: true do |f| %>
  <div class="bg-black shadow rounded-lg p-4">
    <h2 class="text-lg font-semibold"><%= current_user.nickname %></h2>
  </div>
  <div class="form-group">
    <%= f.label :publicity %>
    <%= f.check_box :publicity, class: 'form-control', rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :logo %><br>
    <% @logos.each do |logo| %>
      <%= check_box_tag 'name_tag[logo_ids][]', logo.id, @name_tag.logos.include?(logo), id: "logo_#{logo.id}" %>
      <%= label_tag "logo_#{logo.id}", logo.name %>
      <% if logo.image_url.present? %>
        <%= image_tag logo.image_url, alt: logo.name, class: 'logo-image' %>
      <% end %>
      <br>
    <% end %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
