<%= form_with model: name_tag, local: true do |f| %>
  <div class="bg-black shadow rounded-lg p-4">
    <h2 class="text-lg font-semibold"><%= current_user.nickname %></h2>
  </div>
  <div class="form-group">
    <%= f.label :publicity %>
    <%= f.check_box :publicity, class: 'form-control', rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :logos %>
    <%= f.collection_select :logo_ids, Logo.all, :id, :name, {}, { multiple: true } %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
